@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #181424;

  --color-primary: #2985db;
  --color-secondary: #9657e8;
  --color-secondary-dark: #8248cf;
  --color-tertiary: #F7BB3D;
  --color-tertiary-dark: #dba42d;
  --color-primary-dark: #1565c0;
  --color-primary-light: #42a5f5;

  --font-stack: "Stack Sans Text", sans-serif; 
  --font-inter: "Inter", sans-serif; 

  --inset-shadow-md: inset 0 2px 3px rgba(0, 0, 0, 1); 
}

body {
  margin: 0;
  color: var(--color-foreground);
  font-family: var(--font-inter);
-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-word {
  display: inline-block;
  animation: slideUp 1.5s ease;
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0); }
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary-dark;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-secondary-dark;
}